* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "neue-haas-grotesk-display", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  font-family: "neue-haas-grotesk-display", sans-serif;
  background-color: #111;
  z-index: 10;
}
nav h1 {
  font-size: 1.6vw;
  cursor: pointer;
}
.nav-part2 {
  display: flex;
  gap: 2vw;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  font-size: 0.73vw;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.6vw;
  cursor: pointer;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  overflow: hidden;
  display: none;
  cursor: pointer;
}
.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}

#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #dadada;
  background-color: #111;
}

nav button {
  background-color: #0ca34e;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-radius: 50px;
  border: none;
  font-size: 0.7vw;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
nav button svg {
  height: 1vw;
  margin-left: 2vw;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#page1 h1 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 650;
  line-height: 8.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#page1 h1 svg {
  height: 6.5vw;
  width: 6.5vw;
  background-color: #0ca34e;
  border-radius: 50%;
}
#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}
#page1-somthing {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1-somthing h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  padding: 8px 15px;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  margin-top: 0.5vw;
  cursor: pointer;
}
#page1-somthing h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}
#moving-div {
  margin-top: 10vh;
  position: absolute;
  bottom: 3%;
  width: 44%;
  white-space: nowrap;
  padding: 2vw;
  overflow: hidden;
}
#moving-div .move {
  display: inline-block;
  animation-name: mobe;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-div .move img {
  height: 1vw;
  margin: 0 1vw;
}
@keyframes mobe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#blur-left {
  height: 100%;
  width: 18%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#blur-right {
  height: 100%;
  width: 18%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
}
#page2-left {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}
#page2-left p {
  font-size: 1vw;
}
#page2-left h5 {
  font-size: 1.1vw;
  width: 76%;
  font-weight: 300;
}
#page2-right {
  height: 100%;
  width: 50%;
}
.right-elem {
  position: relative;
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}
.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
  z-index: 2;
  position: relative;
}
.right-elem img {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  scale: 0;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  background-image: url(/images/image5.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
}
.page3-center .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw;
  border-radius: 50%;
  background-color: #fff;
}

i {
  color: #000;
  font-size: 3vw;
}
.page3-center h5 {
  font-size: 0.8vw;
  padding: 12px 26px 10px 26px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 0.5vw;
  opacity: 0;
  transition: all ease 0.5s;
}
.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}
#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  border-radius: 30px;
  opacity: 0;
  z-index: 9999;
}
#page4 {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  position: relative;
  gap: 2vw;
}
#page4-left {
  height: 100%;
  width: 45%;
  padding: 0vw 10.5vw;
}
#page4-right {
  height: 100%;
  width: 55%;
  margin-left: 5vw;
}
#page4-left h1 {
  width: 100%;
  color: #000;
  margin-top: 6vw;
  font-size: 2.8vw;
}
#page4-right h1 {
  color: #a3a3a3;
  margin-top: 5vw;
  font-size: 2.1vw;
}
#page4-right p {
  width: 100%;
  color: #000000ee;
  margin-top: 2vw;
  font-size: 1.6vw;
  line-height: 2.2vw;
}
#page5 {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 0 4vw;
}

.page5-elem {
  height: 20vw;
  width: 30vw;
  background-color: rgb(245, 245, 245);
}
.page5-elem h1 {
  font-size: 3.4vw;
  font-weight: 400;
  margin-top: 2vw;
  margin-left: 2vw;
  color: #000;
}
.page5-elem p {
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: 1vw;
  margin-left: 2vw;
  color: #000;
}
.page5-elem h2 {
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: 8vw;
  margin-left: 2vw;
  color: #a3a3a3;
}
#page6 {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 13vh;
}
.section {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13vh 10vw;
  padding-bottom: 0;
}
.sec-left {
  height: 100%;
  width: 30%;
  border-top: 2px solid #000;
  padding-top: 3vh;
  position: relative;
}
.sec-left p {
  color: #000;
  margin-top: 8vh;
  font-size: 1.3vw;
  width: 100%;
}
.sec-left h2 {
  font-size: 2vw;
  font-weight: 500;
  color: #000;
}
.sec-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-left video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity ease 0.1s;
  opacity: 0;
}
.sec-right {
  height: 100%;
  width: 60%;
  background-color: rgb(181, 153, 53);
  position: relative;
}
.sec-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sec-right video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity ease 0.1s;
  opacity: 0;
}
#page7 {
  min-height: 100vh;
  background-color: #111;
  width: 100%;
  position: relative;
  padding: 5vh 10.5vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#page7 button {
  background-color: #0ba34e;
  padding: 0.9vw 2.5vw;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  position: sticky;
  top: 15%;
}

#page7-right {
  width: 70%;
}

#page7-right > p {
  font-size: 2.1vw;
}

#page7-right > p span {
  /* background-color: red; */
  width: 15vw;
  display: inline-block;
}

#page7-content {
  width: 100%;
  /* background-color: red; */
  margin-top: 5vh;
  padding: 5vh 0;
}

#page7-content h1 {
  font-size: 3vw;
  font-weight: 500;
}

#page7-content #flex {
  display: flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#page7-content #flex h4 {
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 0.8vw;
}

.page7-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: red; */
  /* padding: 2vh 0; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  padding-top: 3vh;
  padding-bottom: 9vh;
  overflow: hidden;
  border-top: 1px solid #333;
  position: relative;
}

.page7-elem p {
  width: 55%;
  font-size: 0.8vw;
  position: relative;
  z-index: 8;
}

.page7-elem h3 {
  font-size: 1.6vw;
  font-weight: 400;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}

.page7-elem i {
  font-size: 1vw;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}

.over {
  height: 100%;
  width: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  /* display: none; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page7-elem:hover h3 {
  padding-left: 1vw;
}

.page7-elem:hover i {
  padding-right: 1vw;
}

.page7-elem:hover .over {
  transform: translateY(0);
  /* display: initial; */
  opacity: 1;
}

.page7-elem:hover {
  border-top: 2px solid #fff;
}

summary::marker {
  content: "";
}

.uiux {
  border-top: 1px solid #333;
  padding: 3vh 0;
}

.product {
  padding: 3vh 0;

  border-top: 1px solid #333;
}
